<script type="text/javascript">
var modelAttributes = <%= raw render(:file => 'media/index.json.rabl', :object => @media) %>;
var pages =  <%=  @pages %>;
var userPossessions  = <%= raw render(:file => 'ownerships/index.json.rabl', :object => current_user.ownerships) %>;
</script>

<h2>Your Media</h2>

<div class="pagination"></div>

<div id="media">
<!-- insert content here -->
</div> 
