
<div class="field">
  <label for="location">Where do you keep it?</label>
  <input type="text" name="location" style="width:20em;" placeholder="DVD shelf" value="{{location}}" />
</div>

<div class="field inline">
  <input type="checkbox" name="private" value="1" {{#if private}}checked="checked"{{/if}} />
  <label class="inline" for="private">private?</label>
</div>

<div class="field inline">
  <label for="format">Format</label>
  <input type="text" name="format" placeholder="BluRay" />
</div>

<div class="actions">
  <a href="#" class="save">save</a>
  <a href="#" class="cancel">cancel</a>
</div>