<h1>Listing languages</h1>

<%= link_to 'New Language', new_language_path %>

<ul class="languages">
<% @languages.each do |language| @language = language %>
  <li>
    <%= render 'single' %>
  </li>
<% end %>
</ul>


