<h1>Listing media</h1>

<%= link_to 'New Medium', new_medium_path %>

<div id="media">
<!-- insert content here -->
</div>

<div id="loader"></div>

<% content_for :head do
  handlebars "medium"
end %>
