<script type="text/javascript">
var modelAttributes = <%= raw render(:file => 'media/show.json.rabl', :object => @medium) %>;
</script>

<div id="medium">
<!-- insert content here -->
</div>

<% content_for :head do
  handlebars "singleMedium"
end %>
