
.languages {
	list-style: none;
	padding: 0;

	li {
		display: inline-block;
	}
}

.language {
	margin: 1em 0;
	display: inline-block;
	padding: $defPadding;
	@include -f-left-right-gradient(#EEE,#FFF);
	@include -f-border-radius(3px);

	.actions {
		font-size: .86em;
		color: #666;
	}

	a {
		color: inherit;
	}
}
