// Place all the styles related to the Languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.languages {
	list-style: none;
	padding: 0;

	li {
		display: inline-block;
	}
}

.language {
	margin: 1em 0;
	display: inline-block;
	@include -f-default-padding;
	@include -f-left-right-gradient(#EEE,#FFF);
	@include -f-border-radius(3px);

	.actions {
		font-size: .86em;
		color: #666;
	}

	a {
		color: inherit;
	}
}