
$background: #EEE;
$width: 950px;
$flowWidth: 800px;
$minWidth: 360px;

html, body {
    min-height: 100%;
}
body {
    @include -f-top-bottom-gradient(#CCC, $background);
}

#navigation {
    @include -f-top-bottom-gradient(#555, #000);
    margin: 1em 0 0;
    color: #FAFAFA;
    font-weight: bold;
    font-size: 0.88em; 
    @include -f-box-shadow(0, 4px, 4px, #999);

    a {
        color: inherit;
        text-decoration: none;
    }

    div {
      padding: 1.5em 2em;
      width: $width;
      margin: 0 auto;
      position: relative;
    }

    ul {
        padding: 0;
        list-style: none;
        margin: 0;

		/* if https://github.com/nex3/sass/issues/46 is resolved, comment
		 * the following in
		 *@media (max-width: #{$flowWidth}) {*/
		@media (max-width: 800px) {
			width: 100%;
			min-width: $minWidth;
		}

		&.user {
          position: absolute;
          right: 0;
          top: 1.5em;
		}
    }

    li {
        display: inline-block;
		text-shadow: -1px -1px 0 #000;

        a {
            display: block; 
            @include -f-default-padding;
            @include -f-border-radius(4px);
        }
        a:hover {
			text-shadow: 1px 1px 0 #000;
            @include -f-top-bottom-gradient(#111, #666);
        }
    }
}

#notice {
	margin: 0 auto;
	padding: .5em .9em;
	width: $width;
	text-align: center;
	font-weight: bold; 
	background: #FFC;

	@include -f-border-radius-bottom(4px);
	@include -f-box-shadow(0, 2px, 3px, #BBB);
}

#content {
  margin: 1em auto;
  padding: 1em 1.7em;
  width: $width;
  background: #FFF;
  @include -f-border-radius(3px);
  @include -f-box-shadow(0, 0, 3px, #A0A0A0);

  /* if https://github.com/nex3/sass/issues/46 is resolved, comment
    * the following in
    * @media (max-width: #{$flowWidth}) {*/
  @media (max-width: 800px) {
      width: auto;
      min-width: $minWidth;
  }

  #loader {
    margin-top: 2em;
    text-align: center;
  }
}