
.medium {
    $imgMargin: 110px;
    
	@extend .clearfix;
	
	border: 2px solid #CCC;
	position: relative;
	margin: 0 0 1.3em;
	@include -f-border-radius(3px);

	.cover {
		float: left;
		margin-right: 10px;
	}

	.data {
      margin-left: $imgMargin;
      padding: $defPadding;
	}

	.title {
		font-size: 1.5em;
		font-weight: bolder;
		margin-bottom: .5em;
	}

	.data > .actions {
		position: absolute;
		top: 6px; right: 6px; 
	}

	.genres span:after {
      content: ", ";
	}
	.genres span:last-child:after {
      content: "";
	}

	.user_actions {
      margin: 1.2em 0 0;
      font-size: .95em;
      min-height: 45px;
      @include -f-beneath();

      & > div {
        margin-left: $imgMargin;
        padding: $defPadding;
      }
      .actions {
        margin-top: .8em;
      }
	}
}

.figures {
	font-size: .8em;
	color: #666;
	margin: 0 0 .7em;

	& > span {
		display: inline-block;
		margin-right: .3em;
		padding-right: .6em;
		border-right: 1px solid #CCC;
	}
	& > span:last-child {
		border: none;
	}

}

.have-it, .save {
  @include -f-button($green);
}
.change-something {
  @include -f-button($blue);
}
.not-anymore {
  @include -f-button($red);
}
.cancel {
  @include -f-button($grey);
}

.new_medium, .edit_medium {
	width: 85%;

	.inline {
		display: inline-block;
		vertical-align: top;
	}
}

.suggestions {
	float: right;
	width: 28%;
	border: 2px solid #CCC;
	@include -f-border-radius(3px);

	.movie {
		@extend .clearfix;
		font-size: .8em;
		border-bottom: 1px solid #DDD;
		padding: .5em;
		cursor: pointer;
		
		.title {
			font-weight: bold;
		}
		p {
			margin: 5px 0;
		}
	}
	.movie:hover {
		background: #FFD;
	}
	.movie:last-child {
		border: none; 
	}
	.selected {
		background: #DDF;
	}
}

.single {
  @extend .clearfix;

  .image {
    float: right;
    padding: 0 0 1em 1em;
    background: #FFF;
  }

  .figures {
    @extend .figures;
  }

  .info {
    padding-top: .5em;
    border-top: 1px solid #CCC;
    color: #666;

    dl {
      margin: 0;
    }
    dt, dd {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    dd:after {
      content: ", ";
    }
    dd:last-child:after {
      content: "";
    }
  }
}

.shortList .medium {
  position: relative;
  padding: $defPadding;
  margin: 0;
  border: none;
  border-bottom: 1px solid $grey;

  &:last-child { border: none; }

  .title {
    display: inline;
    font-size: 1.2em;
  }
  .figures {
    position: absolute;
    right: 0; top: .43em;
  }

}